<div id='facepic'>
  <%= image_tag "facepic.jpg" %>
	  <a href="<%= static_pages_download_resume_url%>">
			<span>Resume</span>
			<br>
			<i class="fa fa-download fa-2x"></i>
		</a>
  <p>Real estate management turned coder. Hungry to learn more; Recent graduate of DevPoint Labs 
     and excited to start my career in Web Development.</p>
</div>