<div id='facepic'>
  <%= image_tag "facepic.jpg", :size => "175x175" %>
    <p>Real estate management turned coder. Hungry to learn more; Recent graduate of DevPoint Labs 
       and excited to start my career in Web Development.</p>
</div>