<div class='container'>
  <ul class='follow'>
    <li class='col-xs-offset-2'><a href="https://github.com/prohumine"><i class='fa fa-github fa-5x'></i></a></li>
    <br>
    <li class='col-xs-offset-2'><a href="https://www.facebook.com/marvin.santizo.14"><i class='fa fa-facebook-square fa-5x'></i></a></li>
    <br>
    <li class='col-xs-offset-2'><a href="https://plus.google.com/u/0/102416636851768275014/posts"><i class='fa fa-google-plus fa-5x'></i></a></li>
  </ul>
</div>